@using FVTS.Models;
@using FVTS.Models
@{
    ViewBag.Title = "Reset User Password";
    UserProfile profile = (UserProfile)ViewBag.UserProfile;
    if (profile == null) { 
        profile = new UserProfile();
    }
    
}
<p class="message-success">@ViewBag.StatusMessage</p>


@using (Html.BeginForm("ResetPassword", "User")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li >
                <label for="UserName">User name</label>
                <input class="k-textbox" data-val="true" data-val-required="The User name field is required." id="UserName" name="UserName" type="text" value='@profile.UserName' />
                <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
            </li>
            <li>
                <label for="Password">Password</label>
                <input class="k-textbox" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
                <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </li>
        </ol>
        <input type="submit" class="k-button" value="Set password" />
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
